:root{
	--color1: #048;
	--color2: #27c;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	min-height: 100vh;
	background: var(--color1);
	padding: 15px;
	font-family: sans-serif;
	color: #fff;
}
h1{
	text-align: center;
	margin-bottom: 20px;
}
.hidden{
	display: none;
}
.surah-list{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 15px;
}
.surah{
	background: var(--color2);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
}
.overlay{
	position: fixed;
	inset: 0;
	padding: 15px;
	background: rgba(0, 0, 0, 0.5);
}
.scale-up{
	animation: fadeInScaleUP .5s linear forwards;
}
@keyframes fadeInScaleUP{
	from{
		opacity: 0;
		scale: 0;
	}
	to{
		opacity: 1;
		scale: 1;
	}
}
.scale-down{
	animation: fadeOutScaleDown .5s linear forwards;
}
@keyframes fadeOutScaleDown{
	from{
		opacity: 1;
		scale: 1;
	}
	to{
		opacity: 0;
		scale: 0;
	}
}
.surah-container{
	width: min(100%, 1000px);
	height: 100%;
	background: var(--color2);
	border-radius: 10px;
	margin: 0 auto;
	padding: 15px;
	position: relative;
	overflow-y: auto;
	opacity: 0;
	scale: 0;
	& #close{
		position: sticky;
		top: 0;
		right: 0;
		float: right;
		background: red;
		font-weight: 700;
		border-radius: 50%;
		padding: 10px;
		cursor: pointer;
	}
	& .surah-detail{
		& h2{
			text-align: center;
			margin-bottom: 20px;
		}
		& p{
			margin-bottom: 10px;
			&.arabic{
				font-size: 30px;
				& span{
					border: 1px solid #fff;
					border-radius: 50%;
					padding: 3px 8px;
					font-size: 24px;
				}
			}
			&.bangla, &.english{
				font-size: 22px;
			}
			&.english{
				padding-bottom: 10px;
				border-bottom: 1px solid #fff;
			}
		}
	}
}
@media(max-width: 767px){
	.surah-list{
		grid-template-columns: repeat(4, 1fr);
	}
}
@media(max-width: 575px){
	.surah-list{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media(max-width: 419px){
	.surah-list{
		grid-template-columns: repeat(1, 1fr);
	}
}
